<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_PlantillaCorreo</title>
</head>
<body >
    <div style="color: blue;font-size: 1.2em;">
        Hola @ViewBag.persona te quiere decir algo:<br/>
        @ViewBag.mensaje
        <br/>
        Disfruta de nuestra aplicación
     </div>
</body>
</html>
