@model IEnumerable<MvcCompleto.Models.ViewModel.ImagenViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Imagenes del curso</h2>

<p>
    @Html.ActionLink("Nueva imagen", "Create")
</p>


@foreach (var item in Model) {
    <div style="float: left;">
        <img src="@item.url" style="max-width: 200px;"/>
    </div>
  }

